body {
    background-color:rgb(189, 116, 211);
}
.cabeçalho {
     margin-bottom: 0px;
     background-color: rebeccapurple;
    color:antiquewhite;
    display: flexbox;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
    .cabeçalho-título{
        font-size: 54px;
    }