body {
    background-color:rgb(189, 116, 211);
}
.cabeçalho {
     margin-bottom: 3px;
     background-color: rebeccapurple;
    color:antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}